!!!
%html
  %head
    %link{:href => "../fullcalendar/fullcalendar.css", :rel => "stylesheet"}/
    %script{:src => "../lib/jquery.min.js"}
    %script{:src => "../lib/jquery-ui.custom.min.js"}
    %script{:src => "../fullcalendar/fullcalendar.min.js"}
    :javascript
      $(document).ready(function() {
      
      	var date = new Date();
      	var d = date.getDate();
      	var m = date.getMonth();
      	var y = date.getFullYear();
      	
      	$('#calendar').fullCalendar({
      		editable: true
      	});
      	
      });
   
  %body
    #calendar