///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                       Variables                           //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////

$blue:  #285EF8;
$gray:  #212121;
$beige: #EECF99;
$white: #FFFFFF;
$green: #22EFA4;
$aqua:  #53CFD6;

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                        Mixins                             //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////

@mixin breakpoint($point) {
  @if $point == papa-bear {
    // Medium-screen is set in foundation.
    @media all and (min-width: $medium-screen) { @content; }
  }
  @else if $point == mama-bear {
    // Small-screen ise t in foundation.
    @media all and (min-width: $small-screen)  { @content; }
  }
}


@mixin clear-fix() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                        BUTTONS                            //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////

.full_button{
  @extend .button;
  @extend .small;
  @extend .radius;
  @extend .expand;
}

.half_button{
  @extend .button;
  @extend .small;
  @extend .radius;
  @extend .right;
}

///////////////////////////////////////////////////////////////
//                                                           //
//                                                           //
//                        Global                             //
//                                                           //
//                                                           //
///////////////////////////////////////////////////////////////


body{
  color: $blue;
  background: $gray;
  font-family: "Raleway", Arial, sans-serif;
  @include breakpoint(mama-bear){
    margin-top: 62px;
  }
}

h1, h2, h3, h4, h5 {
  color: $white;
  font-family: "Raleway";
  padding: 0;
  margin: 0;
}

.full_button{
  background-color: $blue;
  color: $white;
  &:hover{
    background-color: lighten($green, 20%);
    color: $gray;
  }
  border: none;
  box-shadow: none;
} 

.half_button{
  background-color: $blue;
  color: $white;
  &:visited{
    color: $white;
  }
  &:hover{
    background-color: lighten($green, 20%);
    color: $gray;
  }
  border: none;
  box-shadow: none;
} 

label{
  color: lighten($green, 20%);
  font-family: "Raleway";
}

a:visited {
  color: $blue;
}

img{
  border: 1px solid black;
}

// This will only style the ul li of the error_explanation div
#error_explanation{
  color: red;
}

#error_explanation h1, h2{
  color: red;
}

#error_explanation ul li{
  list-style: none;
}
